App/Project_Travelancar_01/Travelancar/Connected Services/hotel_mawar_melati_service/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8605/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelMawarMelati" />
  <xs:element name="getKamar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getKamarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelMawarMelati" minOccurs="0" name="getKamarResult" nillable="true" type="q1:ArrayOfkamar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelMawarMelati" minOccurs="0" name="getPemesananResult" nillable="true" type="q2:ArrayOfpemesanan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tanggal_check_in" type="xs:dateTime" />
        <xs:element minOccurs="0" name="tanggal_check_out" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idKamar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelMawarMelati" minOccurs="0" name="bookingResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>