App/Project_Travelancar_01/Travelancar/Connected Services/hotel_mawar_melati_service/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelMawarMelati" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelMawarMelati" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfkamar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="kamar" nillable="true" type="tns:kamar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfkamar" nillable="true" type="tns:ArrayOfkamar" />
  <xs:complexType name="kamar">
    <xs:sequence>
      <xs:element minOccurs="0" name="harga_akhir_pekan" type="xs:int" />
      <xs:element minOccurs="0" name="harga_hari_biasa" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="jumlah_guest" type="xs:int" />
      <xs:element minOccurs="0" name="jumlah_tersedia" type="xs:int" />
      <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="kamar" nillable="true" type="tns:kamar" />
  <xs:complexType name="ArrayOfpemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pemesanan" nillable="true" type="tns:pemesanan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpemesanan" nillable="true" type="tns:ArrayOfpemesanan" />
  <xs:complexType name="pemesanan">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_kamar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kode_booking" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama_pemesan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tanggal_booking" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tanggal_check_in" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tanggal_check_out" type="xs:dateTime" />
      <xs:element minOccurs="0" name="total_harga" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pemesanan" nillable="true" type="tns:pemesanan" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kodeBooking" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>