App/Project_Travelancar_01/Travelancar/Connected Services/ItikAirService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52311/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ItikAir" />
  <xs:element name="GetPenerbangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kota_asal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kota_tujuan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tgl_berangkat" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPenerbanganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ItikAir" minOccurs="0" name="GetPenerbanganResult" nillable="true" type="q1:ArrayOfpenerbangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bayar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_tiket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BayarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BayarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_tiket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ItikAir" minOccurs="0" name="GetTiketResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_penerbangan" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ItikAir" minOccurs="0" name="penumpangs" nillable="true" type="q3:ArrayOfpenumpang" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ItikAir" minOccurs="0" name="GetPemesananResult" nillable="true" type="q4:ArrayOftiket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>