App/Project_Travelancar_01/Travelancar/Connected Services/maskapai_piguin_air_service/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62737/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PinguinAir" />
  <xs:element name="GetPinguinAir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPinguinAirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="GetPinguinAirResult" nillable="true" type="q1:ArrayOfPenerbangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPenerbangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="pboj" nillable="true" type="q2:Penerbangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPenerbanganResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePenerbangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="pboj" nillable="true" type="q3:Penerbangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePenerbanganResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePenerbangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePenerbanganResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPenerbangan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kota_asal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kota_tujuan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tanggal_keberangkatan" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPenerbanganResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="getPenerbanganResult" nillable="true" type="q4:ArrayOfpenerbangan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bayar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_tiket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bayarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bayarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="booking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_penerbangan" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="penumpangs" nillable="true" type="q5:ArrayOfpenumpang" />
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_tiket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTiketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="getTiketResult" nillable="true" type="q6:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPemesanan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPemesananResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PinguinAir" minOccurs="0" name="getPemesananResult" nillable="true" type="q7:ArrayOftiket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>